html {
	margin: 5px 10px 10px 10px;
	font-family: Verdana, sans-serif;
}

table {
	border-collapse: collapse;
	border: 1px solid black;
	width: 100%;
	text-align: center;
}

th {
border-bottom: 1px solid gray;
color: #FFFFFF;
background: #0775d3;
padding: 7px;
}