*{
	padding:0;
	margin:0;
}

.header {
	width: 100%;
}

nav {
	background-color: #928E8D;
	height: 30px;
}

nav ul li{
	list-style-type: none;
	width: 100px;
	float: left;
	text-align: center;
}

li a{
	text-decoration: none;
	line-height: 30px;
	color: #FFFFFF;
	display: block;
}

li a:hover{
	background-color: #0775d3;
	color: #FFFFFF;
}

table {
	border-collapse: collapse;
	border: 1px solid black;
	width: 100%;
	text-align: center;
}

th {
	border-bottom: 1px solid gray;
	color: #FFFFFF;
	background: #0775d3;
	padding: 7px;
}

tr {
	font-size: 0.875em;
}

tr:nth-child(even) {
	background: #FFFFFF
}

tr:nth-child(odd) {
	background: #EDEDED
}

#container {
	width: 100%;
	margin: auto
}	